#root {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: whitesmoke;
}

.navbar {
  background-color: #333;
  padding: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}

.card {
  border: solid 2px yellowgreen;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1rem;
}
.cardbody {
  border: solid 1px grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: #333;
  width: 20rem;
}
.imagen {
  border-radius: 10px 10px 0 0;
}
.Footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  position: relative;
  width: 100%;
  height: 1rem;
  margin-top: 8rem;
}

.button {
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: solid 1px white;
}

.RegisterPage {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}
.RegisterPage button {
  margin-top: 1rem;
}

.login{
    display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}
.login button{
  margin-top: 1rem;
}

.error{
  background-color: red;
  border-radius: 15px;
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check{
    background-color: green;
  border-radius: 15px;
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}